
label {
  font-size: 0.850em;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
}

.form-group {
  text-align: left;
  margin: 60px 0;

  small {
    display: none;
  }

  &.onfocus {
    > label {
      color: $primary;
      opacity: 1;
    }

    small {
      display: block;
    }
  }

  &.filled {
    > label {
      color: black;
      opacity: 1;
    }
  }
}

.form-control {
  border: 2px solid transparent;
  height: 48px;
  border-radius: 0;
  box-shadow: none;
  font-size: $font-size-base;
  font-weight: bold;

  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: none;
  }
}

.form-radio-group {
  display: flex;

  .form-check {
    margin-right: 13px;
    background-color: white;
    display: table;

    &:nth-child(5n+5) {
      margin-right: 0;
    }

    label {
      display: table-cell;
      width: 130px;
      height: 130px;
      opacity: 0.8;
      vertical-align: middle;
      text-align: center;
      font-size: $font-size-base;
      cursor: pointer;
      text-transform: none;
      font-weight: normal;
    }

    input {
      visibility: hidden;
      position: absolute;

      &:checked + label {
        opacity: 1;
        background-color: $primary;
        color: white;
        font-weight: bold;
      }

      &:focus {
        // color: red;
      }
    }
  }
}
