
body {
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    color: $body-color;
}

p {
  font-family: $font-family-serif;
}

h1,
h2,
h3 {
  font-family: $font-family-serif-2;
}

h3 {
  font-size: 1.400em;
}

h6 {
  font-family: $font-family-serif;
  text-transform: uppercase;
  font-size: $font-size-base;
}

.text-muted {
    color: $primary;
}

.badge {
    font-size: 15px;
}

.the-arrow {
  display: inline-block;
  vertical-align: middle;

  &.-left {
    margin-right: 30px;

    > .shaft {

      &:before, &:after {
        left: -11px;
      }
      &:before {
        transform: rotate(140deg);
      }
      &:after {
        transform: rotate(-140deg);
      }
    }
  }

  &.-right {
    margin-left: 30px;

    > .shaft {

      &:before, &:after {
        right: 0;
      }

      &:before {
        transform: rotate(40deg);
      }
      &:after {
        transform: rotate(-40deg);
      }
    }
  }

  > .shaft {
    width: 64px;
    background-color: $primary;
    display: block;
    height: 1px;
    position: relative;

    &:before, &:after {
      background-color: $primary;
      content: '';
      display: block;
      width: 12px;
      height: 1px;
      position: absolute;
      top: 0;
    }
    &:before {
      transform-origin: top right;
    }
    &:after {
      transform-origin: bottom right;
    }
  }
}

.caret {
    border-width: 8px;
}

.icon {
  display: inline-block;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: center no-repeat;
    background-size: contain;
  }
}

.rowedit,
.rowdelete,
.rowsave,
.rowrevert,
.icon-repeat {
  @extend .icon;
}

.rowedit:after {
  background-image:  url(../img/edit.svg);
}

.rowdelete:after {
  background-image:  url(../img/trash.svg);
}

.rowsave:after {
  background-image:  url(../img/confirm.svg);
}

.rowrevert:after {
  background-image:  url(../img/revert.svg);
}

.icon-repeat:after {
  background-image:  url(../img/repeat.svg);
}

