@font-face {
  font-family: "Lust";
  src: url('../fonts/Lust-Rg.eot');
  src: url('../fonts/Lust-Rg.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Lust-Rg.woff2') format('woff2'), url('../fonts/Lust-Rg.woff') format('woff');
}
@font-face {
  font-family: "NeutraBold";
  src: url('../fonts/NeutrafaceText-Bold.eot') format('eot');
  src: url('../fonts/NeutrafaceText-Bold.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/NeutrafaceText-Bold.woff2') format('woff2'), url('../fonts/NeutrafaceText-Bold.woff') format('woff');
}
@font-face {
  font-family: "NeutraBook";
  src: url('../fonts/NeutrafaceText-Book.eot') format('eot');
  src: url('../fonts/NeutrafaceText-Book.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/NeutrafaceText-Book.woff2') format('woff2'), url('../fonts/NeutrafaceText-Book.woff') format('woff');
}
